
body{
	background-image: url(image/background.jpeg);
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	background-color: #f5f5f5;
}
.forget{
	width: 500px;
	height: 350px;
	text-align: center;
	border: 1pt;
	border-radius: 10px;
	margin: 0 auto;
	background-color: white;
	justify-content: center;
	align-items: center;
	border: 0cm;
}
.forget input{
    width: 320px;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid grey;
	padding-left: 20px;
	display: inline-block;
}
button{
	width: 220px;
	height: 40px;
	border-radius: 5px;
	border:none;
	background-color: #167bff;
	color: white;
}
button:hover{
	width: 222px;
	height: 44px;
}
img{
	vertical-align: middle;
}